html { /*background*/
    background: url("./images/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;}
.game { /*màn hình trắng chơi game*/
	z-index: 0;
	position: relative;
	margin: 15px auto 20px;
	width: 960px;
	min-height: 600px;
	border-radius: 15px;
	background: #fff;}
.head{ /*đầu màn hình game*/
	border-bottom: 1px solid black;
	line-height: 53px;
	position: relative;
	padding: 0px 20px;
	text-decoration: none;
	font-size: 25px;} 
.progress-bar{ /*thanh tính điểm*/
	font-size: 14px;
	text-align: center;
	margin-top: -54px;
	padding: 0 80px;
	line-height: 24px;
	margin-bottom: 10px;
	padding-top: 15px;
}
.back-link{ /*nút quay lai*/
	font-size: 20px;
	text-decoration: none;
}
.playgame{ /*nut play*/
	font-size: 40px;
	text-decoration: none;
	line-height: 9.0;
	margin-left: 750px;
}
.number_progress{
	margin: auto;
	width: 465px;
	height: 26px;
	border-radius: 16px;
	background: #EDEDED;
	box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.22), inset 0px 1px 3px 0px rgba(0,0,0,0.18);
    position: relative;
}
.number_progress i { /* tạo quả bóng*/
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-image: url(https://content.dragonlearn.in/fp/97/fat_player/components/progress/beads/v1/img/bead-874cc643b18fbe33aacee82d8f4353eec013afca7486232ce8e36adbbae9eeb6.png);
    position: absolute;
	top: 3px;}
.playscreen{
	padding: 4px;}
.heading{
	font-size: 45px;}
.input_number{
    font-size: 45px;
    display: inline-block;
    border-radius: 10px;}
.fix{
	width: 960px;
	min-height: 483px;
}
.place{
	text-align: center;
	position: relative;
	overflow: hidden;
	padding-top: 1px;
	margin-top: -1px;
	line-height: 1.5;
}
/* test */
.outer {
    padding: 5px;
    margin: 0 7px;
    vertical-align: baseline;
    line-height: 1;
	font-size: 1px;}
.inner {
	text-align: center;
	position: relative;
	white-space: nowrap;
	padding: 0;
	line-height: 1;
	font-size: 1px;}
	.gameplay { /*màn hình trắng chơi game*/
		z-index: 0;
		position: relative;
		margin: 15px auto 20px;
		width: 960px;
		min-height: 600px;
		border-radius: 15px;
		background: url("./images/bgplay.jpg")}